@model IEnumerable<AllSellViewModel>

<tbody>

	@foreach (AllSellViewModel sell in Model)
	{
		string rowColor = string.Empty;
		string stopBtnColor = "btn-danger";
		if (sell.IsAuction)
		{
			rowColor = "table-danger";
		}
		else if (sell.IsSell && (sell.Quantity <= 0 || sell.EndSell <= dateTimeProvider.GetCurrentDateTime()))
		{
			rowColor = "table-dark";
			stopBtnColor = "btn-success";
		}
		<tr class=@(rowColor)>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<img style="height: 50px; border-radius: 2px;" src="@sell.MainPictureUri">
				</div>
			</td>

			<th scope="row" style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@sell.Name</p>
				</div>
			</th>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 "><strong>@(sell.IsAuction ? "AUC." : "SELL")</strong></p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 ">@(string.Join(", ", sell.Categories))</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@sell.Location</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@sell.Place</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center h-100 ">

					<p class="p-0 mb-0 me-1">@sell.Quantity.ToString("G23")</p>
					<p class="p-0 mb-0 me-2">@sell.Unit</p>
					<partial name="_AccessSign" model="@sell.Visibility.Quantity"></partial>

				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 ">@sell.HighestBid</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 ">@sell.OffersCount</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 ">@sell.BartersCount</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-1 ">@sell.CurrentPrice</p>
					<p class="p-0 mb-0 me-2 ">@sell.Currency</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 ">@sell.StartSell</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 ">@sell.EndSell.ToString(BiddingLongUtcDateTime)</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center h-100">

					<a asp-controller="Item"
					   asp-action="Details"
					   asp-route-id="@sell.ItemId"
					   class="btn btn-sm btn-info align-self-center d-flex flex-nowrap align-items-center me-2"
					   title="Details">
						<i class="fas fa-info"></i>
					</a>

					<a asp-controller="Sell"
					   asp-action="Edit"
					   asp-route-id="@sell.ItemId"
					   class="btn btn-sm btn-primary align-self-center me-2"
					   title="Edit">
						<i class="fas fa-pencil-alt"></i>
					</a>

					@if (sell.IsAuction)
					{
						<button type="button"
								onclick="stopAuctionAlert('@sell.ItemId')"
								class="btn btn-sm @stopBtnColor align-self-center d-flex flex-nowrap align-items-center me-2"
								title="Stop Sell/Auction!">
							<i class="fas fa-times"></i>
						</button>
					}
					else
					{
						<a asp-controller="Sell"
						   asp-action="Stop"
						   asp-route-id="@sell.ItemId"
						   class="btn btn-sm @stopBtnColor align-self-center d-flex flex-nowrap align-items-center me-2"
						   title="Stop Sell/Auction!">
							<i class="fas fa-times"></i>
						</a>
					}


					@if (sell.IsAuction && sell.EndSell <= dateTimeProvider.GetCurrentDateTime())
					{
						<a class="btn btn-sm btn-warning align-self-center d-flex flex-nowrap align-items-center "
						   title="Finish Auction">
							<i class="fas fa-step-forward"></i>
						</a>

					}

				</div>
			</td>

		</tr>
	}


</tbody>

