@model ItemViewModel
@using static Items.Common.Enums.AccessModifier;

<div class="d-flex justify-content-center align-items-center align-content-center">

	<div class="card mb-3 border border- border-danger" style="max-width: 1200px;">
		<div class="row g-0">
			<div class="col-md-4">
				<div class="d-flex flex-wrap overflow-auto gap-1 vh-100 ">
					@foreach (var imageId in Model.Images)
					{
						<img src="@(Url.Action("File","Home",new{id = imageId}))"
							 class="card-img-top img-fluid" alt="..."
							 style="object-fit:contain">
					}
				</div>
			</div>
			<div class="col-md-8 vh-100 overflow-auto">
				<div class="card-body">
					<h4 class="card-title">@Model.Name</h4>
					<p class="card-text"><partial name="_AccessSign" model="@Public" /><strong>Categories: </strong>@Model.Categories</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.Description" /><strong>Description: </strong>@Model.Description</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.Quantity" /><strong>Quantity: </strong>@Model.Quantity @Model.UnitSymbol</p>
					<p class="card-text"><partial name="_AccessSign" model="@Public" /><strong>Price: </strong>@Model.CurrentPrice @Model.CurrencySymbol (@Model.CurrencyIsoCode)</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.AcquiredPrice" /><strong>Acquired Price: </strong>@Model.AcquiredPrice @Model.CurrencySymbol (@Model.CurrencyIsoCode)</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.AcquiredDate" /><strong>Acquired Date: </strong>@Model.AcquiredDate </p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.AddedOn" /><strong>Created On: </strong>@Model.AddedOn</p>
					<p class="card-text"><partial name="_AccessSign" model="@Public" /><strong>On The Market From: </strong>@Model.StartSell</p>
					<p class="card-text"><partial name="_AccessSign" model="@Public" /><strong>On The Market To: </strong>@Model.EndSell</p>
					<p class="card-text"><partial name="_AccessSign" model="@Public" /><strong>Is On Auction: </strong>@Model.IsAuction</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.Offers" /><strong>#Offers: </strong>@Model.OffersCount</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.Owner" /><strong>Owner Name: </strong>@Model.OwnerName</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.Owner" /><strong>Owner Phone: </strong>@Model.OwnerPhone</p>
					<p class="card-text"><partial name="_AccessSign" model="@Model.ItemVisibility.Owner" /><strong>Owner Email: </strong>@Model.OwnerEmail</p>


					@if (Model.ItemVisibility.Location == AccessModifier.Public)
					{
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<partial name="_AccessSign" model="@Model.ItemVisibility.Location" /><strong> Location: </strong>
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<partial name="_LocationPartial" model="Model.Location" />
									</div>
								</div>
							</div>

						</div>
					}
					else
					{
						<partial name="_AccessSign" model="@Model.ItemVisibility.Location" />

						<strong>Location: </strong>
					}


					<p class="card-text"><small class="text-muted"><partial name="_AccessSign" model="@Model.ItemVisibility.ModifiedOn" />Last Update:  @Model.ModifiedOn</small></p>

				</div>
			</div>

		</div>

	</div>


