@using Items.Web.ViewModels.Category;
@using Items.Web.ViewModels.Currency;
@using Items.Web.ViewModels.Unit;
@using static Items.Common.EntityValidationConstants.Item;
@model ItemFormModel

@{
	ViewData["Title"] = "Edit Item";
	ViewBag.ActiveLink = "MineItem";
}

<form asp-area="" asp-controller="Item" asp-action="Edit" method="post">
	<div asp-validation-summary="ModelOnly" class="text-warning"></div>
	<div class="accordion" id="accordionPanelsStayOpenExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
					Specify Your Item
				</button>
			</h2>
			<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
				<div class="accordion-body">
					<div class="row g-3">

						<div class="col-sm-6">
							<input asp-for="@Model.MainPictureUri" type="url" class="form-control" placeholder="Picture URL">
							<span asp-validation-for="@Model.MainPictureUri" class="text-danger text-sm-start"></span>

						</div>

						<div class="col-sm">
							<input asp-for="@Model.Name" type="text" class="form-control" placeholder="Item Name">
							<span asp-validation-for="@Model.Name" class="text-danger text-sm-start"></span>

						</div>


						<div class="col-sm input-group">
							<input asp-for="@Model.Quantity" type="number" step="@QuantityFrontMinValue" min="@QuantityFrontMinValue" max="@QuantityFrontMaxValue" class="form-control w-50" placeholder="Quantity">
							<select asp-for="@Model.UnitId" asp-items="@(new SelectList(Model.AvailableUnits,
													nameof(ForSelectUnitViewModel.UnitId),
													nameof(ForSelectUnitViewModel.UnitSymbol),
													Model.UnitId))"
									class="form-select">
							</select>
							<span asp-validation-for="@Model.Quantity" class="text-danger text-sm-start"></span>
						</div>

						<div class="col-sm dropdown">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Categories
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								@foreach (CategoryFilterViewModel category in Model.AvailableCategories!)
								{
									<li class="dropdown-item ">
										<input class="form-check-input me-1"
											   type="checkbox"
											   name="@nameof(Model.CategoryIds)"
											   value="@category.Id"
										@(Model.CategoryIds.Contains(category.Id) ? "checked" : string.Empty)>
										@category.Name
									</li>
								}
							</ul>
						</div>

					</div>

					<div class="form-check form-switch mb-3">
						<input asp-for="@Model.OnRotation" class="form-check-input" type="checkbox" role="switch" checked>
						<label class="form-check-label" asp-for="@Model.OnRotation">Is it going to be on the Daily Suggestion Rotations?</label>
						
					</div>

					<div class="row g-3">

						<div class="col-sm form-floating">
							<textarea asp-for="@Model.Description" class="form-control"></textarea>
							<label asp-for="@Model.Description">Description</label>
							<span asp-validation-for="@Model.Description" class="text-danger text-sm-start"></span>
						</div>

						<div class="col-sm form-floating">
							<select asp-for="@Model.PlaceId"
									asp-items="@(new SelectList(Model.AvailablePlaces,
												nameof(ForSelectPlaceViewModel.PlaceId),
												nameof(ForSelectPlaceViewModel.ExtendedPlaceName),
												Model.PlaceId))"
									class="form-select">
							</select>
							<label asp-for="@Model.PlaceId">Chose right Place for your Item</label>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
					Even More Accurately...
				</button>
			</h2>
			<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
				<div class="accordion-body">
					<div class="row g-3">

						<div class="col-sm form-floating">
							<input asp-for="@Model.AcquiredDate" type="date" class="form-control" placeholder="Acquired Date">
							<label asp-for="@Model.AcquiredDate">Acquired Date</label>
							<span asp-validation-for="@Model.AcquiredDate" class="text-danger text-sm-start"></span>
						</div>

						<div class="col-sm input-group">
							<input asp-for="@Model.AcquiredPrice" type="number"  min="@ValueFrontMinValue" max="@ValueFrontMaxValue" class="form-control w-75" placeholder="Acquired Price">
							<select class="form-select"
									asp-for="@Model.CurrencyId"
									asp-items="@(new SelectList(
												Model.AvailableCurrencies,
												nameof(ForSelectCurrencyViewModel.CurrencyId),
												nameof(ForSelectCurrencyViewModel.CurrencySymbol),
												Model.CurrencyId))">
							</select>
							<span asp-validation-for="@Model.AcquiredPrice" class="text-danger text-sm-start"></span>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
					Want to Go On The Market?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
				<div class="accordion-body">
					<div class="row g-3">

						<div class="col-sm form-floating">
							<input type="date"
								   class="form-control"
								   placeholder="StartSell Date"
								   asp-for="@Model.StartSell">
							<label asp-for="@Model.StartSell">Start Sell Date</label>
							<span asp-validation-for="@Model.StartSell" class="text-danger text-sm-start"></span>
						</div>

						<div class="col-sm form-floating">
							<input asp-for="@Model.EndSell"
								   type="date"
								   class="form-control"
								   placeholder="EndSell Date">
							<label asp-for="@Model.EndSell">End Sell Date</label>
							<span asp-validation-for="@Model.EndSell" class="text-danger text-sm-start"></span>
						</div>

						<div class="col-sm input-group">
							<input asp-for="@Model.CurrentPrice"
								   type="number"
								   
								   min="@ValueFrontMinValue"
								   max="@ValueFrontMaxValue"
								   class="form-control w-75"
								   placeholder="Price">
							<select asp-for="@Model.CurrencyId"
									asp-items="@(new SelectList(
												Model.AvailableCurrencies,
												nameof(ForSelectCurrencyViewModel.CurrencyId),
												nameof(ForSelectCurrencyViewModel.CurrencySymbol),
												Model.CurrencyId))"
									class="form-select">
							</select>
							<span asp-validation-for="@Model.CurrentPrice" class="text-danger text-sm-start"></span>
						</div>

					</div>

					<div class="form-check form-switch mb-3">
						<input class="form-check-input"
							   type="checkbox"
							   role="switch"
							   asp-for="@Model.IsAuction">
						<label class="form-check-label" asp-for="@Model.IsAuction">Is an Auction?</label>
					</div>

					<h5>What to Show when on The Market:</h5>
					<div class="row g-5 row-cols-sm-4 border border-light">
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.AcquireDocument)
													,Model.ItemVisibility.AcquireDocument.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.AcquiredPrice)
													,Model.ItemVisibility.AcquiredPrice.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.Quantity)
													,Model.ItemVisibility.Quantity.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@(new string[] {nameof(Model.ItemVisibility.AddedOn)
													,Model.ItemVisibility.AddedOn.ToString()})" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.ModifiedOn)
													,Model.ItemVisibility.ModifiedOn.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.CurrentPrice)
													,Model.ItemVisibility.CurrentPrice.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.Description)
													,Model.ItemVisibility.Description.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.Owner)
													,Model.ItemVisibility.Owner.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.Location)
													,Model.ItemVisibility.Location.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.Offers)
													,Model.ItemVisibility.Offers.ToString()}" />
						<partial class="col-xs"
								 name="_AccessRadio"
								 model="@new string[] {nameof(Model.ItemVisibility.AcquiredDate)
													,Model.ItemVisibility.AcquiredDate.ToString()}" />

					</div>
				</div>
			</div>
		</div>
	</div>

	<button type="submit" class="btn btn-success ms-auto">Save</button>


</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}