@model string[]

@{
	string[] accessNames = Enum.GetNames(typeof(AccessModifier));
}
<div class="btn-group" role="group">
	<btn type="button" disabled class="btn btn-secondary"><strong>@Model[0]</strong></btn>
	@for (int i = 0; i < accessNames.Length; i++)
	{

		<input type="radio"
			   class="btn-check"
			   name="@(Model[2] + "." + Model[0])"
			   value="@accessNames[i]"
			   id="@string.Join("",Model[0],"Id",i)"
			   autocomplete="off"
		@(Model[1] == accessNames[i] ? "checked" : string.Empty)>
		<label class="btn btn-outline-primary" for="@string.Join("",Model[0],"Id",i)">@accessNames[i]</label>

	}
</div>
