@model IEnumerable<AllItemViewModel>


<div class="d-flex flex-wrap gap-3 mt-3 justify-content-evenly">

	@foreach (AllItemViewModel item in Model)
	{
		<div class="card border-success mb-3" style="width: 18rem;">
			<img src="@Url.Action("File","Home", new {id = @item.MainPictureId})" 
			class="card-img-top" alt="..." style="max-height: 260px; object-fit:contain">
			<div class="card-body">
				<h5 class="card-title">@item.Name</h5>

				@if (item.IsMine)
				{
					<p class="card-text">Quantity: @item.Quantity @item.Unit</p>
					@if (item.IsAuction ?? false)
					{
						<p class="card-text">On Auction!</p>
						<p>Starting Price: @item.CurrentPrice @item.CurrencySymbol</p>
						<h6 class="card-text">
							Highest Bid: @(item.HighestBid != null ? $"{item.HighestBid} {item.CurrencySymbol}" : "No Bids")
						</h6>
						<h6 class="card-text">
							Barter Offers: @item.BarterOffers
						</h6>
						<p>Auction End: @item.EndSell</p>
						<button type="button" onclick="stopAuctionAlert('@item.Id')" class="btn btn-sm btn-danger">Stop Auction</button>
					}
					else if (item.IsOnMarket ?? false)
					{
						<p class="card-text">On Sale!</p>
						<h6 class="card-text">
							Price: @item.CurrentPrice @item.CurrencySymbol
						</h6>
						<a asp-controller ="Item" asp-action="StopSell" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Stop Sell</a>
					}
					else
					{
						<a asp-controller="Item" asp-action="PutOnMarket" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Put on The Market</a>
					}

					<a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Edit</a>



				}
				else
				{
					@if (item.IsAuction ?? false)
					{
						<p class="card-text">On Auction!</p>
						<p>Starting Price: @item.CurrentPrice @item.CurrencySymbol</p>
						<h6 class="card-text">
							Highest Bid: @(item.HighestBid != null ? $"{item.HighestBid} {item.CurrencySymbol}" : "No Bids")
						</h6>
						<h6 class="card-text">
							Barter Offers: @item.BarterOffers
						</h6>
						<p>Auction End: @item.EndSell</p>
						<a asp-controller="Bid" asp-action="Add" asp-route-itemId="@item.Id" class="btn btn-sm btn-warning">Bid</a>
					}
					else
					{
						<p class="card-text">On Sale!</p>
						<h6 class="card-text">
							Price: @item.CurrentPrice @item.CurrencySymbol
						</h6>
						<a asp-controller="Deal" asp-action="Add" asp-route-itemId="@item.Id" class="btn btn-sm btn-primary">Buy</a>
					}
				}

				<p class="card-text pt-3">Categories: @string.Join(", ",item.Categories)</p>

			</div>
			<a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info m-1 p-1 d-block">Details</a>
			
		</div>
	}

</div>


