@model IEnumerable<AllLocationViewModel>

<tbody>
    @foreach (var location in Model)
    {
        <tr>
            <th scope="row">@location.Name</th>
            <td class="dropdown">
                
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Read Here
                    </button>
                    <div class="dropdown-menu p-4 text-muted" style="max-width: 500px;">
                        <p>
                            @location.Description
                        </p>
                    </div>
               
            </td>
            <td>@location.Country</td>
            <td>@location.Town</td>
            <td>@location.Address</td>
            <td>@location.GeoLocation</td>
            <td>@location.Border</td>
            <td>@location.Places</td>
            <td>@location.Items</td>
            
        </tr>
    }
    
    
</tbody>
