

<div class="row row-cols-1 row-cols-md-3 g-4">
	

	@foreach (var item in Model)
	{
		<div class="col">
			<div class="card h-100 border-success mb-3" style="width: 18rem;">
				<img src="@item.MainPictureUri" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">@item.Name</h5>
					@if (item.IsAuction ?? false)
					{
						<p class="card-text">On Auction!</p>
						<h6 class="card-text">
							Starting Price: @item.CurrentPrice @item.CurrencySymbol
						</h6>
						<a href="#" class="btn btn-primary">Bid</a>

					}
					else
					{
						<p class="card-text">On Sale!</p>
						<h6 class="card-text">
							Price: @item.CurrentPrice @item.CurrencySymbol
						</h6>
						<a href="#" class="btn btn-primary">Buy</a>
					}
					<p class="card-text pt-3">Categories: @string.Join(", ",item.Categories)</p>

				</div>
			</div>
		</div>
	}




</div>
