
<div class="d-flex flex-wrap gap-3 mt-3">

	@foreach (var item in Model)
	{
		<div class="card border-success mb-3" style="width: 18rem;">
			<img src="@item.MainPictureUri" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">@item.Name</h5>

				@if (item.IsMine)
				{
					<p class="card-text">Quantity: @item.Quantity @item.Unit</p>
					@if (item.IsAuction ?? false)
					{
						<p class="card-text">On Auction!</p>
						<p>Starting Price: @item.CurrentPrice @item.CurrencySymbol</p>
						<h6 class="card-text">
							Highest Bid: @(item.HighestBid != null ? $"{item.HighestBid} {item.CurrencySymbol}" : "No Bids")
						</h6>
						<h6 class="card-text">
							Barter Offers: @item.BarterOffers
						</h6>
						<p>Auction End: @item.EndSell</p>
						<a href="#" class="btn btn-sm btn-danger">Stop Auction</a>
					}
					else if (item.IsOnMarket ?? false)
					{
						<p class="card-text">On Sale!</p>
						<h6 class="card-text">
							Price: @item.CurrentPrice @item.CurrencySymbol
						</h6>
						<a href="#" class="btn btn-sm btn-danger">Stop Sell</a>
					}
					else
					{
						<a href="#" class="btn btn-sm btn-danger">Put on The Market</a>
					}

					<a href="#" class="btn btn-sm btn-dark">Edit</a>



				}
				else
				{
					@if (item.IsAuction ?? false)
					{
						<p class="card-text">On Auction!</p>
						<p>Starting Price: @item.CurrentPrice @item.CurrencySymbol</p>
						<h6 class="card-text">
							Highest Bid: @(item.HighestBid != null ? $"{item.HighestBid} {item.CurrencySymbol}" : "No Bids")
						</h6>
						<h6 class="card-text">
							Barter Offers: @item.BarterOffers
						</h6>
						<p>Auction End: @item.EndSell</p>
						<a href="#" class="btn btn-sm btn-warning">Bid</a>
					}
					else
					{
						<p class="card-text">On Sale!</p>
						<h6 class="card-text">
							Price: @item.CurrentPrice @item.CurrencySymbol
						</h6>
						<a href="#" class="btn btn-sm btn-primary">Buy</a>
					}
				}

				<p class="card-text pt-3">Categories: @string.Join(", ",item.Categories)</p>

				<a href="#" class="btn btn-sm btn-info ms-auto d-block">Details</a>
			</div>
		</div>
	}

</div>
