@model IEnumerable<AllPlaceViewModel>

<tbody>
	@foreach (var place in Model)
	{
		<tr>
			<th scope="row">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@place.Name</p>
				</div>
			</th>

			<td class="dropdown">

				<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-align-left"></i>
				</button>
				<div class="dropdown-menu p-4 text-muted" style="max-width: 500px;">
					<p>
						@place.Description
					</p>
				</div>

			</td>

			<td>
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@place.Location</p>
				</div>
			</td>

			<td>
				<div class="d-flex flex-nowrap align-items-center">
					@if (place.Items == 0)
					{
						<p class="p-0 mb-0 me-2">No Items</p>
					}
					else
					{
						<a asp-controller="Item"
						   asp-action="Mine"
						   asp-all-route-data="@(new Dictionary<string, string>{{ "PlaceId", place.Id.ToString()}})"
						   class="link-dark">@place.Items</a>
					}

				</div>
			</td>

			<td>
				<div class="d-flex flex-nowrap">
					<a asp-controller="Place" asp-action="Edit" asp-route-id="@place.Id" class="btn btn-sm btn-primary me-1">Edit</a>
					<a asp-controller="Place" asp-action="Delete" asp-route-id="@place.Id" class="btn btn-sm btn-danger me-auto">Delete</a>
					<a asp-controller="Item" asp-action="Add" asp-route-placeId="@place.Id" class="btn btn-sm btn-success">Add Items</a>
				</div>
			</td>

		</tr>
	}


</tbody>

