@model Items.Services.Data.Models.Offer.AllBidServiceModel

@{
	IEnumerable<AllBidViewModel> BidsModel = Model.Bids;
	IEnumerable<ItemForBarterViewModel> ForBarterModel = Model.ItemsFitForBarter;
}

@inject Items.Services.Data.Interfaces.IItemService itemService;

<tbody>
	@foreach (AllBidViewModel bid in BidsModel)
	{
		string isDisabled = "disabled";
		if (bid.Item.EndSell > dateTimeProvider.GetCurrentDateTime())
		{
			isDisabled = string.Empty;
		}
		<form asp-area="" asp-controller="Bid" asp-action="Edit" asp-route-id="@bid.OfferId" method="post">
		
				<tr class=@(bid.Win ? "table-success":string.Empty)>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center">
					<img style="height: 50px; border-radius: 2px;" src="@bid.Item.MainPictureUri">
				</div>
			</td>

			<th scope="row" style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@bid.Item.Name</p>
				</div>
			</th>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center">
							@if (bid.Item.Country == null && bid.Item.Town == null)
							{
						<p class="p-0 mb-0 me-2">
							<partial name="_AccessSign" , model="@AccessModifier.Private" />
						</p>
							}
							else if (bid.Item.Country == null && bid.Item.Town != null)
							{
						<p class="p-0 mb-0 me-2">@bid.Item.Town</p>
							}
							else if (bid.Item.Country != null && bid.Item.Town == null)
							{
						<p class="p-0 mb-0 me-2">@bid.Item.Country</p>
							}
							else
							{
						<p class="p-0 mb-0 me-2">@bid.Item.Country, @bid.Item.Town</p>
							}
				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100 ">
							@if (!(bid.Item.QuantityLeft == null))
							{
						<p class="p-0 mb-0 me-2">@(bid.Item.QuantityLeft)</p>
							}
							else
							{
						<p class="p-0 mb-0 me-2">
							<partial name="_AccessSign" , model="@AccessModifier.Private" />
						</p>

							}

				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">
							@if (!string.IsNullOrEmpty(bid.Item.HighestBid))
							{
						<p class="p-0 mb-0 me-0">@bid.Item.HighestBid</p>
						<p class="p-0 mb-0 me-2">@bid.Item.CurrencySymbol</p>
							}
							else
							{
						<p class="p-0 mb-0 me-2">No bids yet</p>

							}

				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">
							@if (bid.Item.BarterOffers != null)
							{
						<p class="p-0 mb-0 me-2">@bid.Item.BarterOffers</p>
							}
							else
							{
						<p class="p-0 mb-0 me-2">0</p>

							}

				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">

					<p class="p-0 mb-0 me-0">@bid.Item.StartPrice</p>
					<p class="p-0 mb-0 me-2">@bid.Item.CurrencySymbol</p>

				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">

					<p class="p-0 mb-0 me-2">@bid.Item.EndSell.ToString(BiddingLongUtcDateTime)</p>

				</div>
			</td>



			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">
					<div class="d-flex flex-nowrap align-items-center">
						<input class="form-control form-control-sm" type="text" value="@bid.QuantityToBuy.ToString("G29")" name="Quantity" @isDisabled/>
						<p class="p-0 mb-0 me-0 ms-0 mt-0">@bid.Item.Unit</p>
					</div>
				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">

					<div class="d-flex flex-nowrap align-items-center">
						<input class="form-control form-control-sm" type="text" name="Value" value="@bid.ValuePerQuantity.ToString("N2")" @isDisabled />
						<p class="p-0 mb-0 me-0 ms-0 mt-0">@bid.Item.CurrencySymbol</p>
					</div>

				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">
					<select name="BarterItemId" class="form-select form-select-sm m-0" @isDisabled >
						<!option></!option>
								@{
									ItemViewModel? selectedBarterItem = null;
									if (bid.BarterItemId.HasValue)
									{
										selectedBarterItem = await itemService.GetByIdForViewAsync((Guid)bid.BarterItemId!);
									}
									string extendedItemName = $"{selectedBarterItem?.Name} (you have 0 left!)";
								}
								@foreach (var available in ForBarterModel)
								{
							<!option @(available.Id == bid.BarterItemId ? "selected" : string.Empty) value="@available.Id">@available.Name (You have: @available.QuantityCanBarter @available.Unit left!)</!option>
								}
								@if (bid.BarterItemId.HasValue && !ForBarterModel.Any(b => b.Id == bid.BarterItemId))
								{

							<!option selected value="@bid.BarterItemId">@extendedItemName</!option>
								}

					</select>
				</div>
			</td>

			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">
					<input class="form-control form-control-sm" type="text" name="BarterQuantity" value="@bid.BarterQuantity" @isDisabled />
					<p class="mb-0">@(!string.IsNullOrEmpty(bid.BarterQuantity) ? selectedBarterItem!.UnitSymbol : string.Empty)</p>
				</div>

			</td>



			<td style="height: 70px">
				<div class="d-flex flex-nowrap align-items-center h-100">
							@if (bid.Item.EndSell > dateTimeProvider.GetCurrentDateTime())
							{
						<button type="submit"
								class="btn btn-sm btn-warning align-self-center me-1">
							Update Offer
						</button>
						<a asp-controller="Bid"
						   asp-action="Delete"
						   asp-route-id="@bid.OfferId"
						   class="btn btn-sm btn-danger align-self-center">Cancel Offer</a>
							}
							else
							{
								if (bid.Win)
								{
							<a asp-controller="Deal"
							   asp-action="AddFromOffer"
							   asp-route-offerId="@bid.OfferId"
							   class="btn btn-sm btn-primary align-self-center mx-auto">Buy</a>
								}
								else
								{
							<a href=""
							   title="Wait until the offer wins, expires or the item is sold."
							   class="btn btn-sm btn-dark align-self-center mx-auto"><i class="fas fa-hourglass-half fa-spin"></i></a>
								}
							}

				</div>
			</td>

		</tr>
				@if (!ViewData.ModelState.IsValid && ViewData.ModelState.Values.Any(v => v.Errors.Any() && v.Errors.First().ErrorMessage.StartsWith(bid.OfferId.ToString())))
				{
				<tr>
				<td colspan="13">
					<div asp-validation-summary="ModelOnly" class="text-warning" style="height: 25px; overflow:auto;"></div>
				</td>
			</tr>
				}

		


		</form>

	}


</tbody>
