@using Items.Web.ViewModels.Category;
@model Dictionary<string,List<CategoryFilterViewModel>>


<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle @(ViewBag.ActiveLink == "FilteredCategory" ? "active" : string.Empty)"
	   href="#"
	   id="navbarDropdown"
	   role="button"
	   data-bs-toggle="dropdown"
	   aria-expanded="false">Categories</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<form asp-area=""
			  asp-controller="Category"
			  asp-action="Filtered"
			  method="get">

			@if (User.Identity?.IsAuthenticated ?? false)
			{
			<li class="dropdown-item-text fw-bold">My Categories</li>


				@for (int i = 0; i < Model["Mine"].Count; i++)
				{
				<li class="dropdown-item">
					<input class="form-check-input me-1" type="checkbox" asp-for="@Model["Mine"][i].Selected">
					<input type="hidden" asp-for="@Model["Mine"][i].Id">
					<input type="hidden" asp-for="@Model["Mine"][i].Name">
						@Model["Mine"][i].Name
				</li>
				}
			<li><a class="dropdown-item" href="#">Add Category</a></li>
			<li><hr class="dropdown-divider"></li>
			<li class="dropdown-item-text fw-bold">All Categories</li>
			}


			@for (int i = 0; i < Model["All"].Count; i++)
			{
			<li class="dropdown-item">
				<input class="form-check-input me-1" type="checkbox" asp-for="@Model["All"][i].Selected">
				<input type="hidden" asp-for="@Model["All"][i].Id">
				<input type="hidden" asp-for="@Model["All"][i].Name">
					@Model["All"][i].Name
			</li>
			}

		<li><hr class="dropdown-divider"></li>
			@if (User.Identity?.IsAuthenticated ?? false)
			{
			<li class="dropdown-item-text fw-bold">Filter</li>
			<button class="dropdown-item" type="submit" name="type" value="Sale">Items On Sale</button>
			<button class="dropdown-item" type="submit" name="type" value="Mine">My Items</button>
			<button class="dropdown-item" type="submit" name="type" value="All">All Items</button>
			}
			else
			{
			<button class="dropdown-item" type="submit" name="type" value="Sale">Filter</button>
			}
		</form>


	</ul>
</li>
