@using Items.Web.ViewModels.Category;
@model Dictionary<string,IEnumerable<CategoryViewModel>>


<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle"
	   href="#"
	   id="navbarDropdown"
	   role="button"
	   data-bs-toggle="dropdown"
	   aria-expanded="false">Categories</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<form asp-area=""
			  asp-controller=""
			  asp-action="">
			<li class="dropdown-item-text">My Categories</li>
			@foreach (var category in Model["Mine"])
			{
			<li class="dropdown-item">
				<input class="form-check-input me-1" type="checkbox" value="@category.Id" name="@category.Name">
					@category.Name
			</li>
			}
		<li><a class="dropdown-item" href="#">Add Category</a></li>
		<li><hr class="dropdown-divider"></li>
		<li class="dropdown-item-text">All Categories</li>

			@foreach (var category in Model["All"])
			{
			<li class="dropdown-item">
				<input class="form-check-input me-1" type="checkbox" value="@category.Id" name="@category.Name">
					@category.Name
			</li>
			}

		<li><hr class="dropdown-divider"></li>
		<li><button class="dropdown-item" href="#">Filter</button></li>
		</form>


	</ul>
</li>