@using static Items.Common.FormatConstants.DateAndTime;

<tbody>

	@foreach (ContractAllViewModel deal in Model)
	{
		<tr class="table-@deal.RowStatusColor">

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<img style="height: 50px; border-radius: 2px;" src="@deal.ItemPicture">
				</div>
			</td>

			<th scope="row" style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@deal.ItemName</p>
				</div>
			</th>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2 "><strong>@deal.DealStatus</strong></p>
				</div>
			</td>

			<td class="dropdown">

				<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-align-left"></i>
				</button>
				<div class="dropdown-menu p-4 text-muted" style="max-width: 500px;">
					<p>
						@deal.BuyerComment
					</p>
				</div>

			</td>

			<td class="dropdown">

				<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-align-left"></i>
				</button>
				<div class="dropdown-menu p-4 text-muted" style="max-width: 500px;">
					<p>
						@deal.SellerComment
					</p>
				</div>

			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-1">@deal.Quantity</p>
					<p class="p-0 mb-0 me-0">@deal.Unit</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-1 ">@deal.Price</p>
					<p class="p-0 mb-0 me-0 ">@deal.Currency</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@deal.ContractDate</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center">
					<p class="p-0 mb-0 me-2">@deal.SendDue</p>
				</div>
			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center h-100 ">

					<p class="p-0 mb-0 me-1">@deal.DeliverDue.ToString(ContractDateTime)</p>

				</div>
			</td>

			<td class="dropdown">

				<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-align-left"></i>
				</button>
				<div class="dropdown-menu p-4 text-muted" style="max-width: 500px;">
					<p>
						@deal.DeliveryAddress
					</p>
				</div>

			</td>

			<td style="height: 60px">
				<div class="d-flex flex-nowrap align-items-center h-100">
					@if (deal.RowStatusColor == "danger")
					{
						<a asp-controller="Deal" asp-action="Revise" asp-route-id="@deal.Id" class="btn btn-sm btn-primary align-self-center d-flex flex-nowrap align-items-center">
							<p class="p-0 mb-0 me-2 ">Take Action</p>
						</a>
					}
					else if (deal.RowStatusColor == "success" && deal.IsSeller)
					{
						<a asp-controller="Deal" asp-action="SellerReceived" asp-route-id="@deal.Id" class="btn btn-sm btn-danger align-self-center d-flex flex-nowrap align-items-center">
							<p class="p-0 mb-0 me-2 ">Set to Paid!</p>
						</a>
					}
					else if (deal.RowStatusColor == "success" && !deal.IsSeller)
					{
						<a asp-controller="Deal" asp-action="BuyerReceived" asp-route-id="@deal.Id" class="btn btn-sm btn-danger align-self-center d-flex flex-nowrap align-items-center">
							<p class="p-0 mb-0 me-2 ">Set to Delivered!</p>
						</a>
					}
					else
					{
						<a asp-controller="Deal" asp-action="Details" asp-route-id="@deal.Id" class="btn btn-sm btn-info align-self-center d-flex flex-nowrap align-items-center">
							<p class="p-0 mb-0 me-2 ">Details</p>
						</a>
					}
					

				</div>
			</td>

		</tr>
	}


</tbody>


